@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> Nombre: Luis Miguel  </p>
<p> Apellido: Aquino Cornelio </p>
<p> Edad: 20 </p>
<p> Cuatrimestre: 6to</p>
<p> Modulo: Login con Facebook, Consulta de Asignatura, y contactos.</p>
<img src="~/Imagenes/Luis.jpg" width="150" height="150"/ >
</br>
</br>
<p> Nombre: Juan Ernesto </p>
<p> Apellido: Marmolejos Danis </p>
<p> Edad: 18 </p>
<p> Cuatrimestre: 7mo </p>
<p> Modulo: Agenda Electronica y Lector de Archivos </p>
<img src="~/Imagenes/guppy.jpg" width="150" height="150" />
