@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h3> Agenda electrónica </h3>

        <a href="/Contactos/Index" class="btn btn-primary btn-lg btn-block" > Contactos</a>
        <a href="/Eventos/Index" class="btn btn-primary btn-lg btn-block" > Eventos</a>
    </div>
