    @{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3> Formulario Asignaturas por Cuatrimestre </h3>

    <a href="/Asignaturas/Index" class="btn btn-primary btn-lg btn-block"> Asignaturas</a>
</div>
